body
{
    min-width: 1300px;
    font-family: 'Roboto light', 'Arial', sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 29px;

    color: #010101;
    background-color: #ffffff;
}

.clearfix::after
{
    display: table;
    clear: both;

    content: '';
}

.container
{
  width: 1200px;
  margin: 0 auto;
}

/*Header*/

.header-main
{
  background-color: #455a64;
  color: #ffffff;
  height: 64px;
  text-transform: uppercase;
}

.main-navigation
{
  float: left;
}

.call-me
{
  float: right;
}

.main-navigation ul
{
  font-size: 23px;
  line-height: 22px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation a
{
  color: #ffffff;
  text-decoration: none;
}

.main-navigation li
{
  display: inline-block;
  vertical-align: top;
  margin-top: 21px;
  margin-bottom: 21px;
  padding: 0;
}

.main-navigation li:nth-of-type(1)
{
  margin-left: 11px;
  margin-right: 63px;
}

.main-navigation li:nth-of-type(2)
{
  margin-right: 40px;
}

.main-navigation li:nth-of-type(3)
{
  margin-right: 30px;
}


.call-me div
{
  display: inline-block;
  vertical-align: top;
  margin-top: 21px;
  margin-bottom: 20px;
  font-size: 23px;
  line-height: 22px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
}

.call-me .btn
{
  font-family: 'Roboto light', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 23px;
  line-height: 22px;
  margin-top: 12px;
  margin-bottom: 10px;
  margin-right: 3px;
  margin-left: 21px;
  padding: 9px 25px;
  padding-bottom: 8px;
  padding-right: 26px;
  border-radius: 10px;
  background-color: #4caf50;
}

/*Promo*/

.promo
{
  position: relative;
  height: 706px;
}

.promo .bg
{
  width: 1300px;
  height: 706px;
  position: absolute;
  left: -49px;
  background-image: url("../img/promo-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}

.promo img
{
  position: absolute;
  right: 30px;
  top: 40px;
  z-index: 11;
}

.promo .promo-text
{
  padding-top: 190px;
  padding-left: 18px;
  position: relative;
  width: 550px;
  z-index: 12;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  line-height: 63px;
  font-weight: 400;
  text-align: center;
}

.promo-text p
{
  margin: 0;
}

.promo-text b
{
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 63px;
}

.promo-text span
{
  color: white;
  background-color: #4caf50;
  padding-left: 10px;
  padding-right: 10px;
}

.promo-text a
{
  color: #000000;
  font-size: 25px;
}

/*Instruction*/

.instruction
{
  padding-top: 35px;
}

.instruction h1
{
  text-align: center;
  font-size: 50px;
  line-height: 63px;
}

.instruction p
{
  margin-top: 10px;
}

.instruction .box
{
  float: left;
  width: 250px;
  margin-right: 50px;
}

.instruction .box:nth-of-type(1)
{
  margin-left: 30px;
}

.instruction .box:nth-of-type(2)
{
  margin-right: 40px;
}

.instruction .box:nth-of-type(4)
{
  margin-right: 0;
}

.box .box-txt
{
  text-align: center;
}

.box .box-bg
{
  height: 210px;
  width: 210px;
  margin-left: 20px;
  border: 2px solid #fbcf04;
  border-radius: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.box:nth-of-type(1) .box-bg
{
  background-image: url("../img/application-form.png");
  background-size: 50%;
}

.box:nth-of-type(2) .box-bg
{
  background-image: url("../img/phone-call.png");
  background-size: 70%;
}

.box:nth-of-type(3) .box-bg
{
  background-image: url("../img/payment-method.png");
  background-size: 50%;
}

.box:nth-of-type(4) .box-bg
{
  background-image: url("../img/delivery-truck.png");
  background-size: 70%;
}

/*Order*/

.order {
  font-size: 50px;
  line-height: 58px;
}

.order p
{
  margin-top: 55px;
  margin-bottom: 25px;
  text-align: center;
}

.form-order
{
  padding-left: 36px;
}

.form-order div
{
  float: left;
  width: 245px;
  margin-right: 50px;
}

.form-order div:nth-of-type(4)
{
  margin-right: 0;
}

.form-order input
{
  width:240px;
}

.form-order label
{
  font-size: 21px;
  text-align: left;
}

.form-order .btn
{
  font-size: 25px;
  line-height: 58px;
  width: 245px;
  margin-left: 3px;
  margin-top: 67px;
  padding: 2px 30px;
  padding-bottom: 2px;
  padding-left: 35px;
  color: white;
  text-transform: uppercase;
  border: none;
  background-color: #4caf50;
}

/*Star*/

.star
{
  margin-top: 111px;
  position: relative;
  height: 660px;
}

.star .star-bg
{
  width: 1300px;
  height: 660px;
  position: absolute;
  left: -49px;
  background-image: url("../img/star-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

.star .yama
{
  position: relative;
  z-index: 11;
  float: left;
  width: 250px;
  margin-top: 85px;
  margin-left: 110px;
}

.yama-logo
{
  position: absolute;
  top: -9px;
  left: -73px;
  z-index: 11;
  height: 72px;
  width: 72px;
  background-image: url("../img/yama-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.yama p
{
  margin: 0;
  font-size: 25;
  line-height: 29px;
  text-align: center;
}

.yama span{
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  line-height: 29px;
  font-weight: 400;
  text-align: center;
}

.star .krukov
{
  margin-top: 25px;
  margin-right: 25px;
  position: relative;
  z-index: 12;
  float: right;
  width: 280px;
}

.krukov h2
{
  font-family: "Roboto", sans-serif;
  font-size: 33px;
  line-height: 77px;
  font-weight: 700;
  margin-bottom: -10px;
}

.krukov span
{
  color: #bd2121;
}

.krukov p
{
  font-size: 21px;
  line-height: 23px;
  font-weight: 300;
  margin: 0;
  margin-left: 5px;
  margin-bottom: 22px;
}

/*demonstration*/

.demonstration
{
  padding-top: 85px;
}

.demonstration h2
{
  font-size: 58px;
  line-height: 75px;
  text-align: center;
  margin-bottom: -10px;
}

.demonstration p
{
  margin: 0;
  text-align: center;
  font-size: 29px;
  line-height: 75px;
}

.demonstration a
{
  color: black;
}

.demonstration img
{
  margin-top: 72px;
  margin-left: 97px;
}

.demonstration .btn
{
  display: block;
  width: 344px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-size: 29px;
  line-height: 59px;
  color: white;
  background-color: #39b54a;
  border-radius: 12px;

}

/*Footer*/

.footer-main
{
  margin-top: 97px;
  background-color: #455a64;
  color: #ffffff;
  height: 78px;
}

.footer-main .info
{
  float: left;
  width: 750px;
  font-size: 21px;
  line-height: 75px;
  margin-left: 49px;
  margin-top: 5px;
}

.info span
{
  margin-right: 25px;
}

.footer-main .number
{
  position: relative;
  float: right;
  width: 300px;
  font-size: 21px;
  line-height: 75px;
  text-align: right;
  margin-right: 55px;
  margin-top: 5px;
}

.footer-main .number::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 95px;
  width: 20px;
  height: 20px;
  background-image: url("../img/phone-call-white.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
